.header{
    margin: 50px;
}
.headerText{
    color: red;
    font-size: 40px;
    font-style: italic;
    font-weight: bold;
    
   
}

.bannerText{
    background-color: rgba(0, 0, 0, 0.856);
    font-weight: bold;
    color: wheat;
    padding: 30px;
    border-radius: 10px;

}

.banner-link{
    background-color:yellow;
    padding: 8px 20px;
    font-weight: bold;
    text-decoration: none;
    border-radius: 10px;
    font-size: 25px;
    font-style: italic;
}
a:hover{
    background-color:blue;
    color:red;
    border:2px solid yellow;
}
.banner-link span{
    color: red;
}
.banner-link:hover span{
    color: white;
}