.employeeName{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color:whitesmoke;
    padding: 5px;
    border-radius: 10px;
    box-shadow: 0 0 1px 1px blue;
    margin: 10px;

}